<h1>Edit Zord</h1>

<%= bootstrap_form_for @zord, url: zord_path(@zord), method: :patch, data: { turbo: false } do |f| %>
  <%= f.text_field :name, label: "Name" %>
  <%= f.text_area :description, label: "Description" %>
  <%= f.text_field :ability, label: "Ability" %>
  <%= f.text_field :material, label: "Material" %>
  <%= f.number_field :price, label: "Price" %>
  <%= f.number_field :capacity, label: "Capacity" %>
  <%= f.number_field :quantity, label: "Quantity" %>
  <%= f.text_field :theme, label: "Theme" %>
  <%= f.file_field :figure_image, label: "Figure Image" %>

  <%= f.submit %>
  <%= link_to "Cancel", zords_path, class: "btn btn-primary" %>
<% end %>
