<h1>Edit Zord</h1>

<%= bootstrap_form_for @zord, url: zord_path(@zord), method: :patch, data: { turbo: false } do |f| %>
  <%= f.text_field :name, label: "Name" %>
  <%= f.text_area :description, label: "Description" %>
  <%= f.text_field :ability, label: "Ability" %>
  <%= f.text_field :material, label: "Material" %>
  <%= f.number_field :price, label: "Price" %>
  <%= f.number_field :capacity, label: "Capacity" %>
  <%= f.number_field :quantity, label: "Quantity" %>
  <%= f.text_field :theme, label: "Theme" %>
  <div class="field">
    <% if @zord.figure_image.attached? %>
      <div class="existing-image">
        <%= image_tag @zord.figure_image, class: "img-fluid rounded", style: "max-width: 200px; max-height: 200px; object-fit: cover;" %>
      </div>
    <% end %>
    <%= f.file_field :figure_image, class: "form-control" %>
  </div>

  <%= f.submit %>
  <%= link_to "Cancel", zords_path, class: "btn btn-primary" %>
<% end %>
