
<div class="mb-1">
  <%= link_to 'Back', zords_path, class: "btn btn-primary me-5" %>
</div>

<div class="row">
  <div class="col-md-4">
    <% if @zord.figure_image.attached? %>
      <%= image_tag @zord.figure_image, class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1><%= @zord.name %></h1>
    <p><strong>Description:</strong> <%= @zord.description %></p>
    <p><strong>Ability:</strong> <%= @zord.ability %></p>
    <p><strong>Capacity:</strong> <%= @zord.capacity %></p>
    <p><strong>Material:</strong> <%= @zord.material %></p>
    <p><strong>Price:</strong> <%= number_to_currency(@zord.price) %></p>
    <% @zord.avg_rating = @zord.avg_rating.to_f.nan? ? 0 : @zord.avg_rating %>
    <p><%= rating_stars(@zord.avg_rating)%></p>
    <% if current_user && current_user.vendor? %>
        <p><strong>Quantity:</strong> <%= @zord.quantity %></p>
    <% end %>
    <p><strong>Theme:</strong> <%= @zord.theme %></p>
  </div>

  
</div>

<% if @reviews.present? %>
<h2>Reviews</h2>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>User:</strong> <%= review.user.email %><br>
      <strong>Rating:</strong> <%= review.rating %><br>
      <strong>Review Message:</strong> <%= review.review_message %>
    </li>
  <% end %>
</ul>
<% end %>


<% if current_user && current_user.vendor? %>
    <div class="mt-1">
        <%= link_to 'Edit', edit_zord_path, class: "btn btn-success" %> 
    </div>
<% end %>

<% if current_user && !current_user.vendor? %>
    <div class = "mt-1">
        <%= button_to "Add to Cart", add_to_cart_path(@zord),method: :post, class: "btn btn-success" %>
    </div>
<% end %>

