

<div class="row">
  <div class="col-md-4">
    <% if @bid.zord.figure_image.attached? %>
      <%= image_tag @bid.zord.figure_image, class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1><%= @bid.zord.name %></h1>
    <p><strong>Description:</strong> <%= @bid.zord.description %></p>
    <p><strong>Ability:</strong> <%= @bid.zord.ability %></p>
    <p><strong>Capacity:</strong> <%= @bid.zord.capacity %></p>
    <p><strong>Material:</strong> <%= @bid.zord.material %></p>
    <p><strong>Base Price:</strong> <%= number_to_currency(@bid.zord.price) %></p>
    <p><strong>Theme:</strong> <%= @bid.zord.theme %></p>
  </div>  
  <div class="col-md-4" >
    <br><br><br><br>
    <p><strong>Your Bid:</strong> <%= number_to_currency(@currentBid.bid_value) %></p>
    <%= bootstrap_form_with model: @currentBid, url: update_bid_path(bid_id: @currentBid.bid.id), method: :post, data: { turbo: false } do |form| %>
      <div class="mb-3">
        <%= form.number_field :bid_value,label:"Update bid to", class: "form-control" %>
      </div>

      <%= form.submit "Update Bid Value", class: "btn btn-primary" %>
    <% end %>


  </div>
</div>