<div class="row">
  <div class="col-md-4">
    <% if @zord.figure_image.attached? %>
      <%= image_tag @zord.figure_image, class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1><%= @zord.name %></h1>
    <p><strong>Description:</strong> <%= @zord.description %></p>
    <p><strong>Ability:</strong> <%= @zord.ability %></p>
    <p><strong>Capacity:</strong> <%= @zord.capacity %></p>
    <p><strong>Material:</strong> <%= @zord.material %></p>
    <p><strong>Price:</strong> <%= number_to_currency(@zord.price) %></p>
    <% if current_user && current_user.vendor? %>
        <p><strong>Quantity:</strong> <%= @zord.quantity %></p>
    <% end %>
    <p><strong>Theme:</strong> <%= @zord.theme %></p>
  </div>

  <div class="col-md-4">
    <%= bootstrap_form_with model: @bid, url: create_bid_path(zord_id: @zord.id), method: :post, data: { turbo: false } do |form| %>
        <%= form.hidden_field :zord_id, value: @zord.id %>
    <div class="mb-3">
        <%= form.date_field :start_date,label:"Start Date", class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.date_field :end_date,label:"End Date", class: "form-control" %>
    </div>

    <%= form.submit "Create Bid", class: "btn btn-primary" %>
    <% end %>
  </div>
  
</div>