
<h1>Create New Request </h1>
 
<%= bootstrap_form_with model: @request, url: requests_all_requests_path, method: :post, data: { turbo: false } do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--<%= f.select :material, Request::MATERIAL_OPTIONS, { disabled: ['select'] }, { prompt: 'Select Material' } %>-->

  <div>
      <!--<%= f.label :material, "Material" %>-->
      <%= f.select :material, options_for_select(Zord.available_materials.map { |m| [m, m] }), { include_blank: true } %>
  </div>

<%= f.text_field :ability, label: "Ability" %>
</div>
  <!--<%= f.select :theme, Request::THEME_OPTIONS , { disabled: ['select'] }, { prompt: 'Select Material' } %>-->
  <%= f.select :theme, options_for_select(Zord.available_themes.map { |m| [m, m] }), { include_blank: true } %>
  <%= f.number_field :capacity, label: "Capacity" %>
  <%= f.submit 'Create Request'%>
 
<% end %>
