<h1><%= @request.material %></h1>
 
<p>
  Material: <%= @request.material %>
</p>
 
<p>
  Theme: <%= @request.theme %>
</p>

<p>
    Ability: <%= @request.ability%>
</p>

<p>
  Capacity: <%= @request.capacity%>
</p>

<p>
    <%= link_to "Home", requests_all_requests_path, class: 'btn btn-primary'%>
</p>