<h1>Requests</h1>
 
<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Material</th>
      <th>Theme</th>
      <th>Ability</th>
      <th>Capacity</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.material %></td>
        <td><%= request.theme %></td>
        <td><%= request.ability %></td>
        <td><%= request.capacity %></td>
        <td><%= request.status %></td>
        <td><%= link_to "Approve", approval_request_path(request)%></td>
        <td><%= link_to "Reject", reject_request_path(request)%></td>
        
      </tr>
    <% end %>
  </tbody>
 </table>