<!DOCTYPE html>
<html>
  <head>
    <title>ZordForge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  </head>

  <body style="padding-top: 70px;">
    <%= render 'shared/flash' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <%= link_to "ZordForge", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <%= link_to "Home", zords_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <% if current_user.vendor?%>
                <li class="nav-item">
                  <%= link_to "Requests", requests_vendor_requests_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Bids", all_bids_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Add Limited Edition Zord", new_limited_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Manage Inventory", zords_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Manage resales", vendor_index_resales_path, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Customizations", requests_all_requests_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Bids", all_bids_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Orders", orders_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Resales", resales_index_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Account balance", account_balance_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <% cart_count = current_user.cart ?  current_user.cart.cart_items.count.to_s : "0" %>
                  <%= link_to "Cart (#{cart_count})", cart_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <% notification_count = Notification.where(user:current_user).count.to_s  %>
                  <%= link_to "Notifications (#{notification_count})", all_notifications_path, class: "nav-link" %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: "nav-link btn btn-link" %>
              </li>
              <li class="nav-item">
                <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: "nav-link btn btn-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link btn btn-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
